@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('path/to/Oswald-Regular.ttf') format('truetype'); /* Replace 'path/to/Oswald-Regular.ttf' with the actual path to your font file */
}

body {
    background-color: #f1f1f1;
    color: #fff; 
    font-family: Oswald, Arial;
  }
.sidebar{
    background-color: #416294;
}
.sidebar .nav-link {
    color: #bcccdc; 
}
.sidebar .nav-link.active {
    color: #829ab1;
}

/* Base styles for sidenav */
.sidenav {
    width: 0px;
    transition: 0.5s;
    /* other styles */
}

/* Styles for main content when sidenav is open */
.main-content-expanded {
    margin-left: 250px;
    /* other styles */
}

.sidenav-open-button {
    display: none; /* Hide open button when sidenav is open */
}

@media screen and (max-width: 768px) {
    .sidenav-open-button {
        display: block; /* Show open button on smaller screens */
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .sidenav {
        width: 100px; /* Smaller width for sidenav */
    }

    .main-content-expanded {
        margin-left: 100px; /* Adjust main content margin */
    }
}

.overlay-content {
    display: none; /* Initially hidden */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* Semi-transparent background */
    z-index: 1; /* Ensure it's above other content */
}

/* Show overlay when sidebar is open */
.sidenav-open .overlay-content {
    display: block;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #416294;
    margin-bottom: 16px; /* Light gray background color, you can change it */
}

.header-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Black color for title, you can change it */
}

.header-icons {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Light gray background color, same as header */
    padding: 10px 20px;
}

.header-icon {
    margin-left: 10px;
    font-size: 20px;
    color: #555; /* Dark gray color for icons, you can change it */
    cursor: pointer;
}

.header-icon:hover {
    color: #000; /* Hover color for icons, you can change it */
}

/* box section */
.box{
    border-radius: 16px;
    overflow: auto;
    background-color: #303861;
    padding: 32px;
    margin: 24px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 16px;
    background-color: #303861;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.row {
    display: flex;
}

.row > .col-4 {
    display: flex;
    flex-direction: column;
}

.row > .col-8 {
    display: flex;
    flex-direction: column;
}

.box {
    flex: 1;
}


.icon-b {
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}


.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

/* stats style*/
.col-stats {
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-size: 14;
    height: 100%; /* This ensures that the space is distributed over the entire height of the container */
}

/* inventory style */

.invbox{
    padding: 24px;

}

.invtable {
    width: inherit;
    border-collapse: collapse;
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: red;
}

/* Buttons */
.button{
    background-color: #1572e8;
    color: #fff;
} 

.combobox{
    margin: 24px;
}

/* combobox */
.form-select {
    border: 4px solid transparent; /* Border color */
    color: #fff;
    background-color: #416294; /* Background color */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border-radius: 16px;
}
.form-select option {
    background-color: #416294; /* Default background color */
    color: #fff;
}
/* Hover effect */
.form-select:hover {
    background-color: #1e74b4; /* Background color on hover */
    border-image: linear-gradient(#253343, rgba(30, 116, 180, 0)) 1; /* Apply the gradient */
}