<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    {% block title %}Predictive Maintenance Dashboard{% endblock %}
</head>
<body>
    {% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{{ url_for('equipment') }}" class="custom-sidenav-opt {% if request.endpoint == 'equipment' %}active{% endif %}"><img src="{{ url_for('static', filename='img/equipment.png') }}" alt="Equipment" class="icon-h4">Equipment</a>
                <a href="{{ url_for('room') }}" class="custom-sidenav-opt {% if request.endpoint == 'room' %}active{% endif %}"><img src="{{ url_for('static', filename='img/room.png') }}" alt="Room" class="icon-h4">Room</a>
                <a href="{{ url_for('inventory') }}" class="custom-sidenav-opt {% if request.endpoint == 'inventory' %}active{% endif %}"><img src="{{ url_for('static', filename='img/inventory.png') }}" alt="Inventory" class="icon-h4">Inventory</a>
                <a href="#" id="updateButton" class="custom-sidenav-opt"><img src="{{ url_for('static', filename='img/update.png') }}" alt="Update Stats" class="icon-h4"> Update Stats</a>
                <a href="#" id="trainButton" class="custom-sidenav-opt"><img src="{{ url_for('static', filename='img/train.png') }}" alt="Train" class="icon-h4"> Train</a>
            </div>
             <!-- Main Content -->
            <div id="main" class="col-12">
                <div class="header">
                    <!-- Title on the left side -->
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    <h1 class="header-title">Predictive Maintenance Dashboard</h1>
                    <!-- Placeholder icons on the right side -->
                    <div class="header-icons">
                      
                    </div>
                </div>

                <div class="col-12">
                    <div class="combobox" style="display: flex; justify-content: space-between;">
                        <div>
                            <label for="equipment-select">Equipment Name:</label>
                            <select id="equipment-select" class="form-select">
                                {% for equipment_name in equipment_names %}
                                <option value="{{ equipment_name }}">{{ equipment_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="unique-id-select">Unique ID:</label>
                            <select id="unique-id-select" class="form-select"></select>
                        </div>
                        <div>
                            <label for="graph-filter-select">Graph Filter:</label>
                            <select id="graph-filter-select" class="form-select">
                                <!-- Add options for graph filters here -->
                                <option value="overall">Overall</option>
                                <option value="month">Months in a Year</option>
                                <option value="week">Days in a Week</option>
                                <option value="day">Hours in a Day</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                    </div>

                    <div class="row row-card-no-pd">
                        <!-- first row equipment stats-->
                        <div class="col-sm-6 col-md-3 single-card">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <h4><span id="equipment-name"></span></h4>
                                    <p>Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 single-card">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                                            <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <h4><span id="equipment-serial"></span></h4>
                                    <p>Serial Number</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 single-card">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                                        </svg>  
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <h4><span id="equipment-brand"></span></h4>
                                    <p>Brand</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 single-card">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <h4><span id="equipment-room"></span></h4>
                                    <p>Room</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Cards -->
                        <div class="col-md-4 col-lg-4">
                            <div class="infobox">
                                <table class="stats-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="bold-text">
                                                    <img src="{{ url_for('static', filename='img/frequency.png') }}" class="icon-h5">Usage Frequency
                                                </h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The total number of transactions involving this equipment.">Total Transactions:</td>
                                            <td id="total-qty"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The total duration of all transactions in which the equipment was borrowed.">Total Duration of the Transactions:</td>
                                            <td id="total-dur"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The average time the equipment was borrowed per transaction.">Average Duration of the Transactions:</td>
                                            <td id="avg-duration"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The longest single transaction duration involving this equipment.">Maximum Duration of the Transactions:</td>
                                            <td id="max-dur"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The shortest single transaction duration involving this equipment.">Minimum Duration of the Transactions:</td>
                                            <td id="min-dur"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The typical or middle value duration of transactions, indicating central tendency.">Typical Duration of the Transactions:</td>
                                            <td id="median-dur"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Instances where the equipment was returned later than the expected time.">Late Return of the Equipment:</td>
                                            <td id="late-return"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="infobox">
                                <table class="stats-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="bold-text">
                                                    <img src="{{ url_for('static', filename='img/time.png') }}" class="icon-h5">Temporal Patterns
                                                </h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The date when the equipment was first borrowed.">First Borrow Date:</td>
                                            <td id="firstdatebor"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The most recent date when the equipment was borrowed.">Last Borrow Date:</td>
                                            <td id="lastdatebor"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The date when the equipment was first returned.">First Return Date:</td>
                                            <td id="firstdateret"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The most recent date when the equipment was returned.">Last Return Date:</td>
                                            <td id="lastdateret"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The day of the week when the equipment was most frequently borrowed.">Most Frequent Day that the Equipment was Borrowed:</td>
                                            <td id="most-freq-day"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The month during which the equipment was most frequently borrowed.">Most Frequent Month that the Equipment was Borrowed:</td>
                                            <td id="most-freq-month"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The number of unique dates the equipment was borrowed.">Unique Dates that the Equipment was Borrowed:</td>
                                            <td id="unique-dates"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                            <div class="infobox">
                                <table class="stats-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="bold-text">
                                                    <img src="{{ url_for('static', filename='img/statistics.png') }}" class="icon-h5">Statistical Computations
                                                </h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Data points that deviate significantly from other observations.">Outliers:</td>
                                            <td id="outliers"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="A measure of variability that shows how much the durations deviate from the average.">Standard Deviation of the TimeDuration:</td>
                                            <td id="std-dev-dur"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="The difference between the maximum and minimum transaction durations.">Range of the Time Duration:</td>
                                            <td id="range-duration"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    
                        <div class="col-md-4 col-lg-4">
                            <div class="infobox">
                                <h4 class="bold-text">
                                    <img src="{{ url_for('static', filename='img/health.png') }}" class="icon-h4">Predicted Health
                                </h4>
                                <div class="row cardrow">
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><span id="predicted-rul-mlr1" data-toggle="tooltip" title="Predicted remaining useful life based on the MLR model."></span></h4>
                                                <p class="card-text" data-toggle="tooltip" title="Multivariate Linear Regression (MLR) model estimation of remaining useful life.">MLR Predicted Remaining Useful Life</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><canvas id="health-percentage-mlr1" width="100" height="100" data-toggle="tooltip" title="Health percentage estimated using the MLR model."></canvas></h4>
                                                <p class="card-text" data-toggle="tooltip" title="MLR model's estimated health of the equipment.">MLR Health Percentage</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><span id="predicted-rul-knn" data-toggle="tooltip" title="Predicted remaining useful life based on the KNN model."></span></h4>
                                                <p class="card-text" data-toggle="tooltip" title="K-Nearest Neighbors (KNN) model estimation of remaining useful life.">KNN Predicted Remaining Useful Life</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><canvas id="equipment-health-knn" width="100" height="100" data-toggle="tooltip" title="Health percentage estimated using the KNN model."></canvas></h4>
                                                <p class="card-text" data-toggle="tooltip" title="KNN model's estimated health of the equipment.">KNN Health Percentage</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><span id="predicted-rul-svr" data-toggle="tooltip" title="Predicted remaining useful life based on the SVR model."></span></h4>
                                                <p class="card-text" data-toggle="tooltip" title="Support Vector Regression (SVR) model estimation of remaining useful life.">SVR Predicted Remaining Useful Life</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <div class="card infocard h-75 w-75">
                                            <div class="card-body">
                                                <h4><canvas id="equipment-health-svr" width="100" height="100" data-toggle="tooltip" title="Health percentage estimated using the SVR model."></canvas></h4>
                                                <p class="card-text" data-toggle="tooltip" title="SVR model's estimated health of the equipment.">SVR Health Percentage</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="statbox">
                                <h4 class="bold-text"><img src="{{ url_for('static', filename='img/calendar.png') }}" class="icon-h4">Schedules</h4>
                                <div id="schedulercal"></div>
                            </div>

                            <div class="infobox">
                                <table class="stats-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="bold-text">
                                                    <img src="{{ url_for('static', filename='img/info.png') }}" class="icon-h5">Maintenance Information
                                                </h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Type of maintenance applied to the equipment.">Type of Maintenance</td>
                                            <td id="mainte-type"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Number of times maintenance should occur based on the schedule.">Times that the Equipment should be Maintenanced:</td>
                                            <td id="mainte-freq"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Number of days since the last maintenance was performed.">Days Since Last Maintenance:</td>
                                            <td id="last-calib"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Indicates when the next calibration is due.">Calibration Due:</td>
                                            <td id="calib-due"></td>
                                        </tr>
                                        <tr>
                                            <td class="bold-text" data-toggle="tooltip" title="Next scheduled maintenance date.">Maintenance Due</td>
                                            <td id="calib-due"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4" data-filter="overall">
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays the total duration of events recorded throughout the year.">Yearly Total Duration</h5>
                                        <canvas id="yearTotalDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows the frequency of events recorded over the year.">Yearly Frequency</h5>
                                        <canvas id="yearFreq"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Indicates how resources were utilized over the year.">Yearly Utilization</h5>
                                        <canvas id="yearUtil"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays minimum, maximum, and average durations for the year.">Yearly Min-Max Duration</h5>
                                        <canvas id="yearMinMaxDur"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-lg-4" data-filter="month">
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays the total duration of events recorded for the month.">Monthly Total Duration</h5>
                                        <canvas id="monthTotalDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Indicates how resources were utilized during the month.">Monthly Utilization</h5>
                                        <canvas id="monthUtil"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows minimum, maximum, and average durations for the month.">Monthly Min-Max Duration</h5>
                                        <canvas id="monthMinMaxDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows the frequency of events during the month.">Monthly Frequency</h5>
                                        <canvas id="monthFreq"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Weekly Data Section -->
                        
                        <div class="col-md-4 col-lg-4" data-filter="week">
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays the frequency of events occurring weekly.">Weekly Frequency</h5>
                                        <canvas id="weekFreq"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays the total duration of events recorded for the week.">Weekly Total Duration</h5>
                                        <canvas id="weekTotalDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows minimum, maximum, and average durations recorded weekly.">Weekly Duration</h5>
                                        <canvas id="weekMinMaxDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Indicates the utilization of resources over the week.">Weekly Utilization</h5>
                                        <canvas id="weekUtil"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Daily Data Section -->
                        
                        <div class="col-md-4 col-lg-4" data-filter="day">
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows uptime duration for each hour of the day.">Hourly Uptime</h5>
                                        <canvas id="hourUptime"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Displays events that occurred during each hour.">Events Occurred on Hour</h5>
                                        <canvas id="hourBorrow"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Shows average duration of events during each hour.">Hourly Average Duration</h5>
                                        <canvas id="hourAvgDur"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card equipcard">
                                    <div class="box">
                                        <h5 data-toggle="tooltip" title="Indicates occupancy levels during each hour.">Hourly Occupancy</h5>
                                        <canvas id="hourOccu"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                        

                    <div class="container mt-5">
                        <div class="row">
                          <div class="col">
                            <h3>Status: <span id="statusMessage">Processing...</span></h3>
                          </div>
                        </div>
                      </div>
                    
                      <div class="progress-container">
                        <div class="progress">
                          <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span id="progressLabel" class="progress-label">0%</span>
                          </div>
                        </div>
                        <div class="progress-text">Processing...</div>
                      </div>
                    
                </div>
            </div>
        </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/selecteq.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
  {% endblock %}

</body>
</html>
    