<html>
<head>
    {% extends 'base.html' %}
    {% block title %}Predictive Maintenance Dashboard - Index{% endblock %}
</head>
<body>
    {% block content %}
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Home</a>
                <a href="#">Main Dashboard</a>
                <a href="#">Predictions</a>
                <a href="#">Equipment Health Monitoring</a>
                <a href="#">Inventory</a>
                <a href="#">Calendar</a>
                <a href="card.html">Equipment Summary</a>
            </div>
            <!-- Main Content -->
            <div class="col-12">
                <div class="header">
                    <!-- Title on the left side -->
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    <h1 class="header-title">Predictive Maintenance Dashboard</h1>
                    <!-- Placeholder icons on the right side -->
                    <div class="header-icons">
                        
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">Inventory Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Overall<a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ENB201</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ENB204</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ENB205</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TC101</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TC102</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ER201</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Others</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <button class="btn my-2 my-sm-0" type="button" id="filterActive">Active</button>
                            <button class="btn my-2 my-sm-0 ml-2" type="button" id="filterInactive">Inactive</button>
                        </form>
                    </div>
                </nav>

                <div class="row">
                    <!-- Room Information Card -->
                    <div class="col-md-4" id="roomInfo" >
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Room Information</h5>
                                <div class="row">
                                    <div class="col-4 border-right"><span id="room-name">Room Name:</span></div>
                                    <div class="col-4 border-right"><span id="room-number">Room Number:</span></div>
                                    <div class="col-4"><span id="total-equipments">Total Equipments: 10</span></div>
                                </div>
                                <!-- Other room information -->
                            </div>
                        </div>
                    </div>
                    <!-- Usage Analysis Card -->
                    <div class="col-md-4" id="usageAnalysis">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Usage Analysis</h5>
                                <div class="row">
                                    <div class="col-4 border-right"><span id="frequency">Frequency: 30</span></div>
                                    <div class="col-4 border-right"><span id="unique-dates">Unique Dates: 14</span></div>
                                    <div class="col-4"><span id="total-duration">Total Duration: 275.75</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Duration Analysis Card -->
                    <div class="col-md-4" id="durationAnalysis">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Duration Analysis</h5>
                                <div class="row">
                                    <div class="col-4 border-right"><span id="average-duration">Average Duration: 9.19</span></div>
                                    <div class="col-4 border-right"><span id="max-duration">Max Duration: 23.5</span></div>
                                    <div class="col-4"><span id="median-duration">Median Duration: 5.13</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Additional Stats Card -->
                    <div class="col-md-4" id="additionalStats">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Additional Stats</h5>
                                <div class="row">
                                    <div class="col-4"><span id="min-duration">Min Duration:</span></div>
                                    <div class="col-4"><span id="standard-deviation">Standard Deviation:</span></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Usage Analysis Card -->
                    
                </div>
                <div class="row" data-filter="overall">
                    <div class="col-4">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="overallfrequencyChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="overalldurationSumChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="overalldurationMeanChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="box">
                            <h4>Equipments List</h4>
                            <table class="table table-striped mt-3 hover" id="roomstats">

                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="statbox">
                            <h4>Equipment Details</h4>
                            <p><span id="interpretationList"></span></p>
                            
                            <!-- Additional statistics for day here -->
                        </div>
                    </div>
                </div>

                <div class="row" data-filter="overall">
                    <div class="col-3">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="quarter1Chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="quarter2Chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="quarter3Chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="quarter4Chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="roomBorrowedChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card equipcard">
                            <div class="box">
                                <canvas id="roomDurationChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/roomgraph.js') }}"></script>
  {% endblock %}

</body>
</html>